*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#cartNumber {
    margin: 5rem 10rem 2rem
}

#cartNumber #itemsCount {
    color: red;
}

h1 {
    margin: 0 10rem 2rem;
}

#productsList {
    margin: 0 10rem 5rem;
    display: flex;
    row-gap: 5rem;
    column-gap: auto;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product {
    height: auto;
    width: 30rem;
}

.product img {
    height: 15rem;
    width: 30rem;
}

.btn {
    /* padding: 1.5rem; */
    margin-top: 0.5rem;
    width: 10rem;
    height: 3rem;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    border: 1px solid #000;
    transition: all ease-in 300ms;
    /* border-radius: 7px; */
}

.btn:hover {
    background-color: #000;
    color: #fff;
}

.empty-cart {
    margin-left: 2rem;
    border: 1px solid red;
    color: red;
}

.empty-cart:hover {
    background-color: red;
    color: #fff;
}